import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;

/**
 * {{description}}{{^description}}Gets or Sets {{{name}}}{{/description}}
 */
public enum {{classname}} {
{{#allowableValues}}
{{#enumVars}}
  {{{name}}}({{{value}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/enumVars}}
{{/allowableValues}}

  private {{{dataType}}} value;

  {{classname}}({{{dataType}}} value) {
    this.value = value;
  }

  @Override
  @JsonValue
  public String toString() {
    return String.valueOf(value);
  }

  @JsonCreator
  public static {{classname}} fromValue(String text) {
    for ({{classname}} b : {{classname}}.values()) {
      if (String.valueOf(b.value).equals(text)) {
        return b;
      }
    }
    return null;
  }
}
