package {{package}};

{{#imports}}
import {{import}};
{{/imports}}
{{#models}}
{{#model}}
{{#vars}}
{{#isFile}}
import reactor.core.publisher.Flux;
import org.springframework.http.codec.multipart.FilePart;
{{/isFile}}
{{/vars}}
{{/model}}
{{/models}}
import java.util.Objects;

{{>pojo}}
