/**
 * DEBUG TEMPLATE - All available variables
 *
 * classname: {{classname}}
 * parent: {{parent}}
 * parentSchema: {{parentSchema}}
 * hasParent: {{hasParent}}
 * {{#parent}}HAS PARENT: {{parent}}{{/parent}}
 * {{^parent}}NO PARENT{{/parent}}
 *
 * allVars:
 {{#allVars}}
 *   - {{name}} ({{datatype}})
 {{/allVars}}
 *
 * vars:
 {{#vars}}
 *   - {{name}} ({{datatype}})
 {{/vars}}
 *
 * imports:
 {{#imports}}
 *   - {{import}}
 {{/imports}}
 */
